.pageContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  transition: margin-left 0.3s ease;
}

.contentWrapperExpanded {
  margin-left: 350px;
}

.contentWrapperCollapsed {
  margin-left: 80px;
}

.mainContent {
  flex-grow: 1;
  padding: 25px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #ffffff;
}
